* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#grid-container {
  border-collapse: collapse;
  border: solid black 2px;
  display: flex;
  width: 80vh;
}
td {
  border: solid black 1px;
  width: calc(80vh / 16);
  height: calc(80vh / 16);
}
