@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}
body {
  background-image: url("../images/background.jpg");
  background-size: cover;
}

a {
  text-decoration: none;
  color: white;
}
.game-options {
  margin: 25px;
  font-size: 50px;
  display: inline-block;
}
a:hover {
  color: skyblue;
  text-shadow: 0px 0px 3px white;
}
#title {
  text-align: center;
  margin-bottom: 30px;
  text-shadow: 0px 0px 5px white;
  color: gold;
  font-size: 100px;
  padding-top: 45px;
}
/* 
#name {
  display: block;
  margin-right: auto;
  margin-left:auto;
  background-color: #989fce;
  border: 1.5px solid black;
  border-radius: 5px;
  text-align: center;
  width: 20%;

} */

#name {
  display: block;
  background: transparent;
  border: none;
  color: gold;
  border-bottom: 1px solid white;
  width: 18%;
  font-family: "Press Start 2P", cursive;
  font-size: 32px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 5px;
  height: 40px;
}
::placeholder {
  color: rgb(121, 103, 0);
}
.buttons {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background: transparent;
  border: 1.5px solid black;
  border-radius: 5px;
  background-color: #989fce;
  width: 20%;
}
#join-link {
  padding-top: 12px;
}
div {
  text-align: center;
}
